
.postpage_container{
    height: 500px;
    width: 615px;
    background-color: white;
    margin-top: 2px;
    }
.poststatus_container{
        display: flex;
}
.postpage_container{
    display: flex;
}
.post_status{
    border: 2px solid rgb(206, 96, 96);
    margin-top: 20px;
}
.post_name{
    display: flex;
    margin: 25px 5px;
}